*{
    margin: 0;
    padding: 0;
}

.lists{
    display: flex;
    background: url(bg2.jpg);
    height: 100vh;
    width: 100%;
    
}

.list1{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center; 
    box-shadow: 1px 1px 10px #0c0c0c ;

}

.list{
    margin-top: 150px;
    background : url(Plate1.png);
    display: flex;
    height: 400px;
    width: 400px;
    margin-left: 400px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 5px 10px 60px; */
}

.child2{
    display: flex;
    flex-direction: column;
    background: red;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    
}



.list-item{
    
    display: flex;
    background-color : white;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: transparent;
    cursor: pointer;
    

}


/* .sidebar{
    display: flex;
    flex-direction: column;
    background: rgb(240, 239, 239);
    color: white;
    
    
} */

.itemcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: auto;
}

#eggo {
    position : relative;
    /* transform: translate(-50%, 50%); */
    width : calc(270px/6);
    height : 45px;
    background : url(StripEggo.png);
    animation : animate 1s steps(6) infinite;
    
}

#cheeso {
    position : relative;
    /* transform: translate(-50%, 50%); */
    width : calc(270px/6);
    height : 45px;
    background : url(StripCheeso.png);
    animation : animate 1s steps(6) infinite;
}

#chimken {
    position : relative;
    /* transform: translate(-50%, 50%); */
    width : calc(270px/6);
    height : 45px;
    background : url(StripChimken.png);
    animation : animate 1s steps(6) infinite;
}

#brocco {
    position : relative;
    /* transform: translate(-50%, 50%); */
    width : calc(270px/6);
    height : 45px;
    background : url(StripBrocco.png);
    animation : animate 1s steps(6) infinite;
}

#lemon {
    position : relative;
    /* transform: translate(-50%, 50%); */
    width : calc(270px/6);
    height : 45px;
    background : url(StripLemon.png);
    animation : animate 1s steps(6) infinite;
}

#tomato {
    position : relative;
    /* transform: translate(-50%, 50%); */
    width : calc(270px/6);
    height : 45px;
    background : url(StripTomato.png);
    animation : animate 1s steps(6) infinite;
}

@keyframes animate {
    from {
        background-position : 0;
    }
    to {
        background-position : 270px;
    }
}